{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "paths": {
      "@cache/*": ["libs/cache/src/*"],
      "@config/*": ["libs/config/src/*"],
      "@database/*": ["libs/database/src/*"],
      "@mail/*": ["libs/mail/src/*"],
      "@queue/*": ["libs/queue/src/*"],
      "@shared/*": ["libs/shared/src/*"]
    }
  },
  "minify": false
}
